/* .hero{
    width: 100%;
    min-height: 100vh;
    
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('../../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-clip: fit;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 1px auto 20px;
    line-height: 1.4;
}



@media (max-width:850px){
    .hero-text h1{
        font-size: 40px;
    }
    
}
@media (max-width:650px){
    
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin:15px auto
    }
} */

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/bg.webp);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px); 
    z-index: -1;
}


.home-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
}
.clg-Head{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.clg-description{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.courses-offer {
    padding: 12px 24px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(47, 46, 45);
    backdrop-filter: blur;
    border: none;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.courses-offer:hover {
    background-color: inherit;
    transform: translateY(-3px);
}

.courses-offer:active {
    transform: translateY(0);
    background-color: #c88d0b;
}


@media (max-width: 768px){
    .home-section{
        margin-top: 120px;
        text-align: center;
        height: 70%;
    }


    .clg-Head{
        font-size: 35px;
        color: black;
    }
    .clg-description{
        font-size: 17px;
        color: white;
    }
}
